@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


  * {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* cabecalho */

header {
    height: 75px;
    background-color:#BF4648; 
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;  
}


a {
    text-decoration: none;
    color: white;
    
}

.container {
    height: 100%;
    width: 1200px;
    min-width: 1050px;
    display: flex;
    margin: 0 auto;
    height: 75px;
}

.logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 60%;
    height: 100%;
}

.entrar {
    width: 10%;
    height: 100%;
}

.cadastrar{
    width: 10%;
    height: 100%;
}

.logo img {
    width: 150px;
    cursor: pointer;
}

.container ul{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    gap: 5px;
}

.container li{
    list-style: none;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.container a:hover {
    color: #191919;
}

.container li:hover {
    background-color: white;
    color: black; 
}

 .container nav{
    height: 100%;
 }

.ativo {
    background-color: white;
    color: black;
}
 
#selecionado {
    color: #191919;
}

.entrar {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .botaoEntrar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 15px 20px;
    border: 2px solid white ;
    border-radius: 10px;
    cursor: pointer;
 }

 .botaoEntrar:hover {
    background-color:white;
    color: black; 
 }

 .botaoEntrar:hover a {
    color: black;
 }

.cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoCadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 15px 20px;
    border: 2px solid white ;
    border-radius: 10px;
    cursor: pointer;
}

.botaoCadastrar:hover {
    background-color:white;
    color: black;
}

.botaoCadastrar:hover a {
    color: black;
 }

/* conteudo da pagina */

main {
    color: white;
    flex: 1;
    padding-top: 75px;
}

p {
    color: black;
    font-family: "Poly", serif;
}

h1 {
    color: white;
}

h2 {
    color: black;
}

h3 {
    color: black;
}

.maincontainer {
    max-width: 1440px;
    margin: 0 auto;
    padding-block: 5px;
    width: 100%; 
}

.maincontainer h1 {
    font-family: "Poppins", sans-serif;
    font-size: 90px;
    font-weight: bold;
}

.maincontainer h2 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.maincontainer P {
    font-family: "Play", sans-serif;
    font-size: 24px;
}

.img1 img{
    height:391px;
    width:606px ;
    display: flex;
    border-radius: 50px;
    object-fit: none;
    position: absolute;
    top: 136px;
    right: 800px;
}

.img2 img{
    height: 250;
    width:333 ;
    display: flex;
    border-radius: 10px;
}

.img3 img{
     height:261 ;
    width:347 ;
    display: flex;
    border-radius: 10px;
}

.img4 img{ 
     height:262 ;
    width:378 ;
    display: flex;
    border-radius: 10px;
}

.img5 img{
     height: 278;
    width:278 ;
    display: flex;
    border-radius: 10px;
}

.img6 img{
     height: 278;
    width:371 ;
    display: flex;
    border-radius: 10px;
}

.fundoVermelho {
    background-color: #BF4648;
    height: 440px ;
    width: 1220px ;
    margin-top: 35px;
    border-radius: 10px;
    display: flex; 
    align-items: center; 
}

.culinaria-text h1{
    padding-left: 40px;
}

.culinaria-text p{
    color: white;
    height: 270px;
    width: 545px;
    padding-left: 40px;
    font-size: 20px;
}

.sub-titulo {
    font-size: 80px;
    left: 112px;
}
/* rodape*/

footer {
    height: 60px;
    background-color:#BF4648; 
    display: flex;
    padding-top: 10px;
}

.container2 {
    height: 100%;
    width: 1200px;
    min-width: 1050px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.rodape ul {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    gap: 20px;
}

.rodape li {
    list-style: none;
    color: white;
    
    
}

.rodape nav{
    height: 100%;
    
}

/* seta */

.arrow {
    background: white;
    width: fit-content;
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    bottom: 90px;
    right: 20px;
}
