@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poly:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@1,300&display=swap');

* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* cabecalho */

header {
    height: 75px;
    background-color:#527D8F; 
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;  
}


a {
    text-decoration: none;
    color: white;
    
}

.container {
    height: 100%;
    width: 1200px;
    min-width: 1050px;
    display: flex;
    margin: 0 auto;
    height: 75px;
}

.logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 60%;
    height: 100%;
}

.entrar {
    width: 10%;
    height: 100%;
}

.cadastrar{
    width: 10%;
    height: 100%;
}

.logo img {
    width: 150px;
    cursor: pointer;
}

.container ul{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    gap: 5px;
}

.container li{
    list-style: none;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.container li:hover {
    background-color: white;
    color: black; 
}
 .container nav{
    height: 100%;
 }

 .entrar {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .botaoEntrar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 15px 20px;
    border: 2px solid black ;
    border-radius: 10px;
    cursor: pointer;
 }

 .botaoEntrar:hover {
    background-color:white;
    color: black; 
 }
 
 .ativo {
    background-color: white;
    color: black;
}
 
.cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoCadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 15px 20px;
    border: 2px solid white ;
    border-radius: 10px;
    cursor: pointer;
}

.botaoCadastrar:hover {
    background-color:white;
    color: black;
}

/* conteudo da pagina */
p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

main {
    background-color: white;
    flex: 1;
    padding-top: 75px;
}

.maincontainer {
    max-width: 1440px;
    margin: 0 auto;
    padding-block: 5px;
    width: 100%;  
    
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 90px;
    font-weight: bold;
    color: #fcfaf7;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: bold;
}

P {
    font-family: "Play", sans-serif;
    font-size: 24px;
    color: #fcfaf7;
    
}

.fundoAzul {
    background-color: #527D8F;
    height: 278px ;
    width: 1266px ;
    margin-top: 35px;
    border-radius: 10px;
    display: flex; 
    align-items: center; 
}

.fundoAzul h1 {
    padding-left: 40px ;
}

.fundoAzul p {
    padding-left: 20px;
}

.box-texto {
    width: 45%;
}

.img1 img {
    width: 650px;
    height: 383;
    position: absolute;
    top: 95px;
}

.DadosGerais {
    margin-top: 16px;
}

.DadosGerais li {
    width: 40%;
}

.setores {
    display: flex;
    justify-content: center;
}

.box-setores {
    background-color: #527D8F;
    margin-top: 20px;
    width: 1220px;
    border-radius: 10px;
    padding: 40px;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

.cards > div {
    background: white;
    width: 350px;
    padding: 25px;
    border-radius: 10px;
}

.cards ul {
    margin-bottom: 20px;
}

.cards img {
    width: 100%;
    border-radius: 10px;
}

.desafios {
    margin-top: 50px;
}

.desafios li {
    width: 100%;
    font-size: 24px;
    color: #fcfaf7;
}

.desafios p {
    width: 100%;
}

.curiosidade p {
    width: 100%;

}
 
.desafios-container {
    display: flex;       
    align-items: center;    
    justify-content: center;
    gap: 30px; 
    margin-top: 50px;
}

.curiosidade {
    display: flex;        
    align-items: center;    
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}

.img-desafios img{
    border-radius: 10px;
}

.img-curiosidade img {
    border-radius: 10px;
}
/* rodape*/

footer {
    height: 60px;
    background-color:#527D8F; 
    display: flex;
    padding-top: 10px;
}

.container2 {
    height: 100%;
    width: 1200px;
    min-width: 1050px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.rodape ul {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    gap: 20px;
}

.rodape li {
    list-style: none;
    color: white;
    
    
}

.rodape nav{
    height: 100%;
    
}

/* seta */

.arrow {
    background: white;
    width: fit-content;
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    bottom: 90px;
    right: 20px;
}