.pontos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 50px 60px;
}

.pontos-texto {
    max-width: 550px;
}

.pontos-texto h1 {
    font-size: 45px;
    font-weight: 800;
    color: #e6c049;
}

.pontos-texto p {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}

.pontos-img {
    width: 420px;
    border-radius: 20px;
}

.bloco {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
    gap: 40px;
}

.bloco.reverse {
    flex-direction: row-reverse;
}

.texto {
    max-width: 520px;
}

.texto h2 {
    font-size: 42px;
    font-weight: 800;
    color: #e6c049;
    margin-bottom: 15px;
}

.texto p {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}

.img-bloco {
    width: 380px;
    border-radius: 20px;
}

@media (max-width: 900px) {
    .pontos,
    .bloco {
        flex-direction: column;
        text-align: cente
    }
}