@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poly:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@1,300&display=swap');

* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* cabecalho */

header {
    height: 75px;
    background-color:#4F3F7D; 
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;  
}


a {
    text-decoration: none;
    color: white;
    
}

.container {
    height: 100%;
    width: 1200px;
    min-width: 1050px;
    display: flex;
    margin: 0 auto;
    height: 75px;
}

.logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 60%;
    height: 100%;
}

.entrar {
    width: 10%;
    height: 100%;
}

.cadastrar{
    width: 10%;
    height: 100%;
}

.logo img {
    width: 150px;
    cursor: pointer;
}

.container ul{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    gap: 5px;
}

.container li{
    list-style: none;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.container a:hover {
    color: #191919;
}

.container li:hover {
    background-color: white;
    color: black; 
}

 .container nav{
    height: 100%;
 }

.ativo {
    background-color: white;
    color: black;
}
 
#selecionado {
    color: #191919;
}

.entrar {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .botaoEntrar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 15px 20px;
    border: 2px solid white ;
    border-radius: 10px;
    cursor: pointer;
 }

 .botaoEntrar:hover {
    background-color:white;
    color: black; 
 }

 .botaoEntrar:hover a {
    color: black;
 }

.cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoCadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 15px 20px;
    border: 2px solid white ;
    border-radius: 10px;
    cursor: pointer;
}

.botaoCadastrar:hover {
    background-color:white;
    color: black;
}

.botaoCadastrar:hover a {
    color: black;
 }

/* conteudo da pagina */

main {
    color: white;
    flex: 1;
    padding-top: 75px;
}

.quiz-main {
    background-color: #dcdcdc; 
    display: flex;
    justify-content: center;
    
}

.quiz-container {
    background-color: white;
    width: 1250px;
    height: 700px;
    padding: 90px 425px;
    margin: 90px 95px;
    border-radius: 10px;
    text-align: center;
}

.quiz-container h1 {
    font-size: 48px;
    color: #4A3F74;
    margin-bottom: 40px;
    font-weight: 700;
}

.quiz-circulo {
    width: 300px;
    height: 300px;
    background-color: #4A3F74; 
    border-radius: 50%;
    margin: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.quiz-circulo a {
    font-size: 140px;
    color: white;
    font-weight: 700;
    line-height: 0;
}
/* rodape*/

footer {
    height: 60px;
    background-color:#4F3F7D; 
    display: flex;
    padding-top: 10px;
}

.container2 {
    height: 100%;
    width: 1200px;
    min-width: 1050px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.rodape ul {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    gap: 20px;
}

.rodape li {
    list-style: none;
    color: white;
    
    
}

.rodape nav{
    height: 100%;
    
}
